<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to
        <%= title %>
    </p>
    <select id="question-part-1">
        <option value="Is">Is it</option>
        <option value="Can">Can it</option>
        <option value="Does">Does it</option>
    </select>
    <input type="text" value="put your question here" id="question-part-2">?<br>
    <button id="submit">Submit</button>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="javascript/plugins.js"></script>
    <script src="javascript/main.js"></script>

</body>

</html>