html,
body,
div {
    background-color: #FFFFFF;
}


/*#questions-div {
    float: left;
    /*width: 31%;

display: inline;
margin: 1%;

}
*/

#questions-tab {
    min-height: 200px;
}


/*
#sidebar-left {
    min-width: 250px;
}*/

#questions-ul {
    width: 100%;
}

#questions,
#players {
    width: 100%;
}

#chatbox {
    min-height: 600px;
    max-height: 1200px;
    overflow-y: scroll;
}


/*
#chatbox {
    width: 60%;
    float: right;
    display: block;
    margin-left: 5%;
}*/

#ask-chat {
    /*float: right;*/
    /* width: 66%;*/
    height: 100px;
    /*position: fixed;*/
    /*bottom: 50px;
    /*right: 0;*/
}

#questions-tab {
    overflow-y: auto;
}

#answer-question {
    margin: 0 auto;
    text-align: center;
}


/*
#question-input,
#question-label,
#chat-input,
#chat-label,
#chat,
#ask,
#fts,
#ihateyou,
#wow,*/


/*#answer {
    width: 100%;
}*/


/*.demo-list-icon {
    width: 300px;
}*/


/*
.answer {
    float: right;
}*/

.hidden {
    display: none;
}


/*
.wrong {
    color: #FF0000 !important;
}

.right {
    color: #169E04 !important;
}*/

#answer-yes {
    color: #169E04;
}

#answer-no {
    color: #FF0000;
}

#answer-finish {
    color: #03a9f4;
}

#answer-question {
    margin-top: 5px;
}

button {
    display: inline;
}


/*
@media (max-width: 700px) {
    #questions-div,
    #ask-chat,
    #chatbox {
        float: none;
        display: block;
        width: 100%;
    }
    .asked {
        width: 100%;
    }
}*/